.swiper-pagination {
    position: relative !important;
    bottom: -10px !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.swiper-pagination-bullet-active {
    background: #FF6B00 !important;
    opacity: 1 !important;
}