/* In your main CSS file */
.responsive-swal{
    width:auto;
    padding: 0px 20px 20px !important;
}

.swal2-icon{
    width: 70px;
    height: 70px;
    font-size: 14px;
}
.responsive-confirm {
    font-size: 16px;
}

.responsive-swal-title {
  font-size: 24px !important; /* Default for desktop */
}

.responsive-swal-text {
  font-size: 1rem !important; /* Default for desktop */
}

@media (max-width: 420px) {
    .responsive-swal{
        width: auto !important;
        padding: 2px 0px 10px !important;
    }
    .swal2-icon{
        width: 40px !important;
        height: 40px !important;
        font-size: 10px;
    }
    .responsive-confirm {
        font-size: 10px;
    }
    .responsive-cancel {
        font-size: 10px;
    }

    .responsive-swal-title {
        font-size: 16px !important; /* Smaller size for mobile/tablet */
    }

    .responsive-swal-text {
        font-size: 12px !important; /* Smaller size for mobile/tablet */
    }
}

@media (min-width: 421px) and (max-width : 992px){
    .responsive-swal{
        width: auto !important;
        padding: 2px 0px 10px !important;
    }
    .swal2-icon{
        width: 60px !important;
        height: 60px !important;
        font-size: 12px;
    }
    .responsive-confirm {
        font-size: 13px;
    }
    .responsive-cancel {
        font-size: 13px;
    }

    .responsive-swal-title {
        font-size: 24px !important; /* Smaller size for mobile/tablet */
    }

    .responsive-swal-text {
        font-size: 14px !important; /* Smaller size for mobile/tablet */
    }
}
